<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcebhagalpur.learnmykid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CongratulationActivity" />
        <activity android:name=".activity.Level7" />
        <activity android:name=".activity.Level6" />
        <activity android:name=".activity.Level5" />
        <activity android:name=".activity.Level4" />
        <activity android:name=".activity.Level3" />
        <activity android:name=".activity.Level2" />
        <activity android:name=".activity.Level1" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>